{\rtf1}
*.dll
*.dll.config
*.suo
*.user
app/.vs/*
app/packages/*
app/AccCareer.BLL/bin/*
app/AccCareer.BLL/obj/*
app/AccCareer.DAL/bin/*
app/AccCareer.DAL/obj/*
app/AccCareer.UI/bin/*
app/AccCareer.UI/obj/*
app/AccCareer.IOC/bin/*
app/AccCareer.IOC/obj/*
app/AccCareer.WebAPI/bin/*
app/AccCareer.WebAPI/obj/